header {background-color: rgb(122, 64, 64);
color: black;
display: flex;
justify-content: space-around;
align-items: center;
 
}
.MELHOR-1{
    width: 400px; 
}
.MELHOR-2{
    width: 400px; 
}
.MELHOR-3{
    width: 400px; 
}
.MELHOR-4{
    width: 400px; 
}